body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: currentColor;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  font-family: inherit;
  cursor: pointer;
  color: currentColor;
}

img {
  display: block;
}
/*----------------- SVG Icon Fill --------------- */
.svg_icon {
  fill: #f4f4fd;
}
/*----------------- SVG Icon Fill --------------- */
.svg_icon_feature {
}

/*----------------- CONTAINER ------------------*/
.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/*----------------- SECTION ------------------*/
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
/*----------------- HIDDEN ------------------*/
.visibility-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*------------------- HEADER ---------------*/
.header .container {
  display: flex;
}
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    position:relative
}

.header-nav {
  display: flex;
  align-items: center;
}
.header-list {
  display: flex;
  gap: 40px;
  align-items: center;
}
.header-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
  margin-right: 76px;
}
.header-logo span {
  color: #2e2f42;
  font-family: "Raleway", sans-serif;
}
/*---------------------- Menu -----------------------------*/
.header-item-link-add {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.header-item-link{
  color: #404bbf;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.32px;
  padding-top: 24px;
  padding-bottom: 24px;
  display: block;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-item-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  width: 48px;
  border-radius: 2px;
  background-color: #404BBF;
}

.header-item-link:focus {
  color: #404BBF;
}

.header-item-link:active::after {
  width: 48px;
  height: 4px;
  flex-shrink: 0;
  background-color: #404BBF;
  content: "";
}

.header-item-link-add:hover {
  color: #404BBF;
}

/*----------------------------------------------------------*/

.header-item-link:hover {
  color: #404bbf;
}
.header-item-link:focus {
  color: #404bbf;
}
.header-address {
  font-style: normal;
  margin-left: auto;
}
/*--------------------------- Adress ------------------------*/
.address-list {
  display: flex;
  gap: 40px;
  font-style: normal;
  margin-left: auto;
}
.address-item-link {
  display: block;
  padding: 24px;
  color: #434455;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-item-link:hover {
  color: #404bbf;
}
.address-item-link:focus {
  color: #404bbf;
}
/*------------------- MAIN ---------------*/
.main .container {
  margin: 0 auto;
}
.main-title {
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/office_bg.jpg);
  /*background-image: url(https://cdn.pixabay.com/photo/2020/07/06/01/33/forest-5375005_1280.jpg);*/
  background-position: center center;
  background-size: cover;
  max-width: 1440px;
  background-repeat: no-repeat;
  justify-content: center;
}
/*------------------- SECTION ONE --------------*/
.main-title {
  padding-top: 188px;
  padding-bottom: 188px;
  /*background: #2e2f42;*/
  margin-right: auto;
  margin-left: auto;
}
.main-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 264px;
  height: 112px;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  background: #f4f4fd;
  margin-bottom: 8px;
  background-position: center center;
  background-repeat: no-repeat;
}
.main-title-item {
  display: flex;
  max-width: 496px;
  color: #ffffff;
  text-align: center;
  /* Header 1 */
  font-family: "Roboto";
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07; /* 107.143% */
  letter-spacing: 0.02em;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 48px;
}
.main-title-button {
  min-width: 169px;
  margin-left: auto;
  margin-right: auto;
  height: 56px;
  border: none;
  border-radius: 4px;
  display: block;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
  background-color: #4d5ae5;
  color: #ffffff;
  /* Button Text */
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-title-button:hover {
  background-color: #404bbf;
}
.main-title-button:focus {
  background-color: #404bbf;
}
/*------------------- SECTION TWO ---------------*/
.feature-list {
  display: flex;
  gap: 24px;
}
.feature-item {
  width: calc((100% - 24px * 3) / 4);
}
.feature-list .subtitle {
  color: #2e2f42;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  margin-top: 8px;
}
.feature-list .text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
/*------------------- SECTION THREE ---------------*/
.people-section {
  background-color: #f4f4fd;
}
.people-title {
  color: #2e2f42;
  text-align: center;
  /* Header 2 */
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.people-list {
  display: flex;
  gap: 24px;
}
.people-list .people-item {
  background-color: #ffffff;
  width: calc((100% - 24px * 3) / 4);
  border-radius: 0px 0px 4px 4px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.people-list .people-img {
  display: block;
}
.people-card {
  padding-top: 32px;
  padding-bottom: 32px;
}
.people-list .people-text {
  margin-bottom: 8px;
}
.people-list .people-subtitle {
  color: #2e2f42;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.people-list .people-text {
  color: #434455;
  text-align: center;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}
.social-links {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 24px;
  flex-shrink: 0;
  align-self: center;
  justify-content: center;
}
.social-links .svg-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links .icon {
  display: flex;
  padding: 0px;
  margin: 0;
  justify-content: center;
  align-items: center;
  fill: #f4f4fd;
}
.social-links-div{
  
}
.svg-link:hover,
.svg-link:focus {
  background-color: #404bbf;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/*------------------- SECTION FOUR ---------------*/
.portfolio-section .section {
}
.portfolio-title {
  margin-bottom: 72px;
  color: #2e2f42;
  text-align: center;
  font-family: "Roboto";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.portfolio-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-item {
  width: calc((100% - 24px * 2) / 3);
  border: 1px solid #e7e9fc;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-card {
  border: 1px solid #e7e9fc;
  padding: 32px 16px;
  border-top: none;
}
.portfolio-list .portfolio-img {
  max-width: 100%;
}
.portfolio-list .portfolio-subtitle {
  color: #2e2f42;
  font-family: "Roboto";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.portfolio-list .portfolio-text {
  color: #434455;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}
/*----------------------*/
.portfolio-img-div {
  position: relative;
  overflow: hidden;
  width: 360px;
  height: 300px;
}
/*------------------------------------------*/
.portfolio-item:last-child,
.portfolio-item:nth-last-child(2),
.portfolio-item:nth-last-child(3) {
  margin-bottom: 0;
}

.portfolio-item:hover .portfolio-img-div .overlay-paragraf {
  transform: translateY(0);
}
.overlay-paragraf {
  position: absolute;
  top: 0;
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


/*------------------- FOOTER ---------------*/
.footer {
  display: flex;
  background: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
}

/*-------------------- SOCIAL MEDIA ------------*/

.footer .footer-container {
  display: flex;
  align-items: baseline;
}

.footer-logo {
  display: inline-block;
  gap: 24px;
  margin-right: 120px;
}
.footer-logo-span {
  color: #f4f4fd;
}
.footer-logo-link {
  display: inline-block;
  margin-bottom: 16px;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  text-transform: uppercase;
  letter-spacing: 0.54px;
  margin-right: 76px;
}
.footer-logo-text {
  width: 264px;
  color: #f4f4fd;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.footer-social-icons{
display:inline-block;
}
.footer-social-title{
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.footer-social-link{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  gap: 16px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-icons .footer-social-list{
  display: flex;
  gap: 16px;

}
.footer-social-icons .footer-social-item{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-top: 8px;
}
.footer-social-svg{
  display: flex;
  padding: 0px;
  margin: 0;
  justify-content: center;
  align-items: center;
  fill: #f4f4fd;
}
.footer-social-link:hover,
.footer-social-link:focus {
    background-color: #31d0aa;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media {
  color: #fff;

  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
/*------------------- Subscribe ------------*/

.footer-subscribe-form{
  display: flex;
  align-items: center;
  gap: 24px;
}

.footer-subscribe-input {
  color:  #fff;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.04em;
  line-height: 2;
  width: 264px;
  height: 40px;
  padding-left: 16px;
  border-radius: 4px;
  border: 1px solid  #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: transparent;
  margin-left: 80px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.footer-subscribe-title {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  margin-left: 80px;
}

.footer-subscribe-input::placeholder {
  color: #fff;
  padding: 8px 16px;
}

.footer-subscribe-input {
  border-radius: 4px;
  border: 1px solid  #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: transparent;
  width: 264px;
  height: 40px;
  flex-shrink: 0;
  margin-right: 24px;
}

.footer-subscribe-button {
  display: flex;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5;
  min-width: 165px;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  border-radius: 4px;
  background:  #4d5ae5;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe-icon {
  fill: #f4f4fd;
  margin-left: 16px;
}

/*-----------------------------------------------*/

.backdrop {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 999999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:  #2e2f4266;
  transition: opacity 250ms linear, visibility 250ms linear;
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*------------------- InputForm ------------*/

.inputform {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px #00000024, 0px 1px 3px #0000001f,
    0px 2px 1px #00000033;
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}
.inputform-close-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.inputform-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid #0000001a;
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.inputform-close-btn:hover,
.inputform-close-btn:focus {
  border: none;
  fill: #ffffff;
  background-color: #404bbf;
}
.inputform-title {
  color: #2e2f42;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.inputform-label {
  display: block;
  color: #8e8f99;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}
.inputform-input {
  width: 100%;
  height: 40px;
  border: 1px solid #2e2f4266;
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.inputform-input:focus {
  border: 1px solid #4d5ae5;
}
.inputform-input:focus + .inputform-form-icon-input {
  fill: #4d5ae5;
}
.inputform-field {
  margin-bottom: 8px;
}
.inputform-field-comment {
  margin-bottom: 16px;
}
.inputform-form-icon {
  position: relative;
}
.inputform-form-icon-input {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.inputform-comment {
  display: block;
  width: 100%;
  height: 120px;
  color: #2e2f4266;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  border-radius: 4px;
  border: 1px solid #2e2f4266;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.inputform-comment::placeholder {
  color: #2e2f4266;
}
.inputform-comment:focus {
  border: 1px solid #4d5ae5;
}
.inputform-checkbox {
  margin-bottom: 24px;
}
.checkbox-icon-box {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  color: #4d5ae5;
  width: 16px;
  height: 16px;
  border: 1px solid #2e2f4266;
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 8px;
}
.checkbox-icon-box-form {
  fill: #f4f4fd;
  opacity: 100%;
}
.inputform-checkbox-label {
  color: #8e8f99;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
}
.inputform-check:focus
  + .inputform-checkbox-label
  > .checkbox-icon-box {
  border: 1px solid #4d5ae5;
}
.inputform-check:checked
  + .inputform-checkbox-label
  > .checkbox-icon-box {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.inputform-check:checked
  + .inputform-checkbox-label
  .checkbox-icon-box-form {
  opacity: 1;
}
.accent-color {
  color: #4d5ae5;
  line-height: 1;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
}
.inputform-checkbox-button {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  border: none;
  padding: 16px 32px;
  margin: auto;
  margin-top: 16px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  background-color: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.inputform-checkbox-button-block {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}
.inputform-checkbox-button:hover {
  border: none;
  background: #404bbf;
}
/*------------------- END ------------------*/
